* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* main */
.container-main {
    display: flex;
    width: 100vw;
}

/* left side*/

.container-left {
    width: 33%;
    height: 100vh;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
}

.header {

}

.logo {
    background: black;
}

.logo-text {

}


/* right side */

.container-right {
    display: flex;
    width: 100%;
    border: 1px solid blue;
    flex-direction: column;
}

.description-one {

}

.description-two {

}

.form {
    
}



.container-form {
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50vw;
    gap: 50px;
    padding: 50px;
}


.container-input {
    border: 1px solid black;
}

.form-header {
    grid-column: 1 / -1;
}

.container-input > input {
    display: block;
}

